<table class="table table-sm table-striped">
    <tbody>
        {{#each streamList}}
        <tr>
            <td class="align-top">
                <a href="{{ url }}"><img class="logo img-thumbnail" src="{{ logo }}" alt="{{ name }}" data-url="{{ url }}" width="128"></a></td>
            <td>
                <div class="display_name">{{ display_name }}</div>
                <div class="game">{{ game }}</div>
                <div class="status">{{ status }}</div>
            </td>
            <td hidden>{{ viewers }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
